<section class="hero-container d-flex align-items-center" [style.background-image]="'url(hero-bg.jpg)'">
  <div class="hero-overlay"></div>

  <div class="container position-relative z-index-1">
    <div class="row">
      <div class="col-lg-8 text-white">
        <h1 class="display-3 fw-bold mb-3">
          Energia para o Amanhã, <br>
          <span class="text-accent">Compromisso com a Vida.</span>
        </h1>
        <p class="lead mb-4">
          Líder global em exploração de energia, a Petro Energy une tecnologia de ponta e 
          responsabilidade ambiental para mover o mundo rumo a um futuro sustentável.
        </p>
        
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a routerLink="/projetos-sociais" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">
            Nossos Projetos
          </a>
          
          <a routerLink="/sobre" class=" btn btn-outline-light btn-lg px-4 me-md-2 fw-bold">Sobre a Empresa</a>
        </div>
      </div>
    </div>
  </div>
</section>